body{
    background-color: rgb(0, 255, 234);
}

.container {
    display: grid;
    grid-template-columns: (1fr, 2fr, 1fr);
    grid-template-rows: (1fr, 2fr, 1fr);
    grid-template-areas:
      "top navig navig"
      "top stat rec"
      "top stat rec"
      "top stat rec"
      "top stat rec"
      "top footer rec";
    height: 100vh;
    gap: 10px;
    padding: 10px;
  }
  .text{
    background-color: #3cbfe7;
    color: rgb(0, 0, 0);
    display: flex;
    font-size: 1.2em;
  }

  .navig {
    grid-area: navig;
  }

  .top {
    grid-area: top;
  }

  .stat {
    grid-area: stat;
  }

  .rec {
    grid-area: rec;
  }
  .footer {
    grid-area: footer;
  }
